*{
    color:#f0f8ff;
}

body{
    min-width: 300px;
    min-height: 400px;
    background-color: #121521;
    border-color: #f0f8ff;
}
pre{
  white-space: pre-wrap; 
  word-break: break-word;
  overflow-x: hidden;
}
input::placeholder {
  font-style: italic;
  color: #353744;
}

#page-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #121521;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
#page-container::-webkit-scrollbar {
    display: none;
}

#top-container{
    height: 100px;
    background-color: #121521;
    padding: 5%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.active-tab{
    font-style: oblique;
    color: #e7ecff;
    font-size: 18px;
}

#passwordSuggestionLink{
    background-color: transparent;
    font-size: 16px;
}

#passwordGeneratorLink{
    background-color: transparent;
    font-size: 16px;
}

#openLink{
    background-color: transparent;
    font-size: 16px;
}

.preview-password-card{
    display: flex;
    width: 95%;
    background-color: #191a2d;
    border: #f0f8ff 1px solid;
    border-radius: 10px;
    height: 100px;
    transition: 0.3s;
    margin: 3%;
}
.preview-password-card:hover{
    cursor: pointer;
    letter-spacing: 0.04em;
    box-shadow: 0 0 15px #0101a3;
    transition: 0.3s;
}
.card-preview-image{
    width: auto;
    height: auto;
    border-radius: 10px;
    border-right: #f0f8ff 1px solid;
    background-color: #191a2d;
    display: flex;
    padding: 3%;
    justify-content: center;
    align-items: center;
}

.card-preview-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.preview-card-body{
    flex: 1;
    display: flex;
    width: 100%;
    height: auto;
    padding: 2%;
    background-color: transparent;
    color: #f0f8ff;
    border-radius: 10px;
}

.card-preview-content{
    flex: 1;
}

.codebox-link{
    border-radius: 15px;
    margin-left: 1%;
    margin-right: 1%;
    background-color: transparent;
    transition: 0.2s;
    padding: 0.5% 2% 0.5% 2%;
}

.codebox-link:hover{
    cursor: pointer;
    letter-spacing: 0.02em;
    transition: 0.2s;
    background-color: #16173f;
}

.code-block {
    border: 1px solid #d0d7de;
    border-radius: 6px;
    overflow-x: hidden;
    margin-bottom: 1rem;
}

.code-header {
    background: #07081f;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-style: italic;
}
.code-body {
    padding: 1rem;
    background: #07081f;
    font-family: monospace;
    overflow-x: hidden;
}
.code-inline {
    display: block;
    background-color: transparent;
    border-radius: 5px;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1.5rem;
    color: #f0f8ff;
    white-space: nowrap;
    overflow-x: auto;
}
.code-inline::-webkit-scrollbar {
    display: none;
}